html,
body {
  overflow-x: hidden;
  background-color: black;
}

body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.container {
  width: 50%;
  line-height: 0.1%;
  background-color: rgb(212, 212, 212);
  padding: 20px 30px;
  border: 4px double black;
}

#head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100% !important;
}

.detail {
  width: 80%;
  line-height: 25px;
}
.detail p {
  display: inline;
  justify-content: center;
  text-align: center;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  color: #535353;
  padding: 0px 15px;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #2d2d2d;
  font-weight: 500;
  transition: 0.3s;
}

a:hover {
  color: rgba(17, 17, 255, 0.642);
}

#education,
#experience,
#skills,
#addInfo,
#projects {
  margin-top: 5%;
}

.edurow {
  display: flex;
  justify-content: space-between;
}

.edurow div p {
  padding-top: 2px;
  font-size: 13px;
  line-height: 5px;
}

ul {
  padding: 0px 15px;
}

#skills div p {
  line-height: 10px;
  font-size: 13px !important;
}

#addInfo div {
  line-height: 24px;
  font-size: 13px !important;
}

#projects ul li ul li {
  line-height: 24px;
  font-size: 13px !important;
}

#projects ul li p {
  font-size: 13px !important;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 95%;
    padding: 10px;
  }

  .detail p {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding-left: 0;
  }
  br {
    display: none;
  }

  #skills div p {
    line-height: 20px;
    font-size: 13px !important;
  }

  .edurow {
    display: inline;
    justify-content: space-between;
  }

  .edurow p {
    display: block !important;
    line-height: 10px !important;
  }

  #education,
  #experience,
  #skills,
  #addInfo,
  #projects {
    margin-top: 10%;
  }

  .detail {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row-reverse !important;
  }
  .row {
    flex-direction: column;
    justify-content: start;
    font-size: 10px;
    width: 100%;
  }

  .row p {
    width: 100%;
    font-size: 10px;
  }
}
